# Dependencies
node_modules
.pnpm-store
.npm
.yarn

# Build outputs
dist

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage

# Git
.git
.gitignore

# Misc
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo
